MerchantID= # 商店 ID
HASHKEY= # 商店 HashKey
HASHIV= # 商店 HashIV
Version=2.0 # 串接程式版本，2023 年版本為 2.0

ReturnUrl= # 前端回傳網址
NotifyUrl= # 交易結果通知網址
PayGateWay=https://ccore.newebpay.com/MPG/mpg_gateway # 測試機、正式機 API 路徑